.active{
  border-bottom: 5px solid red;
}

body{
background-color: #f4f4f4; 
}

.row{
    padding: 70px 0px 80px 0px;
}

.col-md-2{
  padding: 30px;
  padding-left: 18px;
}

strong{
  font-size: 18px;
}

.fa-building-o{
  font-size: 20px;
}

footer{
  width: 100%;
  background-color:lightgray;
}

.col-md-4{
  padding: 80px 0px 60px 0px;
}
